.counter-box {
    text-align: center;
    margin: 100px auto;
    padding: 20px;
    background: #f7f7f7;
    border-radius: 12px;
    width: fit-content;
    box-shadow: 0 2px 6px rgba(0,0,0.1,0.1);
}

.counter-btn {
    margin: 6px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}